# Data Preparation for the Bachelorette Predictor
### Kwame V. Taylor

I need to join the data from ```bachelorette_edit-to-join.csv``` with the data from ```bachelorette-contestants.csv```.

### Set up env and load data

In [11]:
import numpy as np
import pandas as pd
import re

In [35]:
df = pd.read_csv('bachelorette-contestants.csv', index_col='Name')
join = pd.read_csv('bachelorette_edit-to-join.csv')

In [33]:
df.head()

,Age,Occupation,Hometown,ElimWeek,Season
Name,,,,,
Ryan Sutter,29,Firefighter,"Vail, Colorado",NaN,1
Charlie Maher,28,Financial Analyst,"Hermosa Beach, California",6.0,1
Russ,30,Writer,"San Rafael, California",5.0,1
Greg T.,28,Importer,"Manhattan, New York",4.0,1
Bob Guiney,31,Mortgage Broker,"Ferndale, Michigan",3.0,1

In [7]:
join.head()

,SEASON,CONTESTANT,ELIMINATION-1,ELIMINATION-2,ELIMINATION-3,ELIMINATION-4,ELIMINATION-5,ELIMINATION-6,ELIMINATION-7,ELIMINATION-8,...,DATES-1,DATES-2,DATES-3,DATES-4,DATES-5,DATES-6,DATES-7,DATES-8,DATES-9,DATES-10
0,12,12_JORDAN_R,R1,NaN,NaN,R,R,NaN,NaN,NaN,...,NaN,D6,D12,D11,D1,D5,D1,D1,D1,D1
1,12,12_ROBBY_H,NaN,NaN,NaN,NaN,R,NaN,R,NaN,...,NaN,D10,NaN,D11,D9,D5,D3,D1,D1,D1
2,12,12_CHASE_M,NaN,NaN,R,NaN,NaN,R,NaN,NaN,...,NaN,NaN,D1,D11,D9,D2,D3,D1,D1,NaN
3,12,12_LUKE_P,NaN,NaN,NaN,R,NaN,R,NaN,E,...,NaN,D10,NaN,D1,D9,D5,D1,D1,NaN,NaN
4,12,12_JAMES_T,NaN,R,R,NaN,NaN,NaN,E,NaN,...,NaN,D6,D1,D11,D9,D5,D3,NaN,NaN,NaN

### Clean up contestant names on both DataFrames

**```join``` df**

In [37]:
# replace the matching strings 
join.CONTESTANT = join.CONTESTANT.replace(to_replace ='\d+(_)', value = '', regex = True) 
  
# Print the updated dataframe 
join.head()

,SEASON,CONTESTANT,ELIMINATION-1,ELIMINATION-2,ELIMINATION-3,ELIMINATION-4,ELIMINATION-5,ELIMINATION-6,ELIMINATION-7,ELIMINATION-8,...,DATES-1,DATES-2,DATES-3,DATES-4,DATES-5,DATES-6,DATES-7,DATES-8,DATES-9,DATES-10
0,12,JORDAN_R,R1,NaN,NaN,R,R,NaN,NaN,NaN,...,NaN,D6,D12,D11,D1,D5,D1,D1,D1,D1
1,12,ROBBY_H,NaN,NaN,NaN,NaN,R,NaN,R,NaN,...,NaN,D10,NaN,D11,D9,D5,D3,D1,D1,D1
2,12,CHASE_M,NaN,NaN,R,NaN,NaN,R,NaN,NaN,...,NaN,NaN,D1,D11,D9,D2,D3,D1,D1,NaN
3,12,LUKE_P,NaN,NaN,NaN,R,NaN,R,NaN,E,...,NaN,D10,NaN,D1,D9,D5,D1,D1,NaN,NaN
4,12,JAMES_T,NaN,R,R,NaN,NaN,NaN,E,NaN,...,NaN,D6,D1,D11,D9,D5,D3,NaN,NaN,NaN

In [31]:
#join[join['SEASON'] == 1]

**```df``` df**

Ryan Sutter
Charlie Maher
Russ
Greg T.
Bob Guiney

1. Turn last name into just the first letter (if there is a last name)
2. Add '_X' if there is no last name
3. Remove periods
4. Replace the space with a '_'
5. Uppercase all

In [38]:
regex1 = r'( )\w+.'
regex2 = 
regex3 = 
regex4 =

SyntaxError: invalid syntax (<ipython-input-38-69a2257a9291>, line 2)

In [39]:
regex1 = r'( )\w+.'

# Turn last name into just the first letter (if there is a last name)
df_updated = df.replace(to_replace = regex1, value = r'( )\w', regex = True)

# Print the updated dataframe 
df_updated.head()

error: bad escape \w at position 3

In [ ]:
# Turn last name into just the first letter (if there is a last name)
df_updated = df.replace(to_replace = regex1, value = r'( )\w', regex = True)

# replace the matching strings 
df_updated = df.replace(to_replace = regex2, value = '', regex = True)

# replace the matching strings 
df_updated = df.replace(to_replace = regex3, value = '', regex = True)

# replace the matching strings
df_updated = df.replace(to_replace = regex4, value = '', regex = True)

# uppercase all
df_updated = 

# Print the updated dataframe 
df_updated.head()

### Check for duplicates